/Data/
/ProcessedData/
/Corpus/
/models/text8.zip
/.idea/workspace.xml
/.idea/workspace.xml
/models/checkpoints/
/models/checkpoints1/
/models/checkpoints-CharRNN exmaple/
/models/checkpoints-Working/
/models/checkpoints_final_v1/
